.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
vitest.config.ts
node_modules/**
**/*.test.ts
.github/**
coverage/**
reports/**
.strykerignore
.stryker-tmp/**
stryker.conf.mjs
stryker.log
eslint.config.mjs
esbuild.mjs
.claude/**
out/**
docs/**
features/**
*.md
!README.md
