.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
vitest.config.ts
node_modules/**
**/*.test.ts
.github/**
coverage/**
reports/**
.strykerignore
stryker.conf.mjs
eslint.config.mjs
*.md
!README.md
